<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="team.css">
    <link rel="stylesheet" href="/booking.css">
</head>
<body>
    <%- include("partials/header") %>
    <section id="team">
        <div class="container">
            <h1 class="mb-5">Our Team</h1>
            <div class="row">
                <div class="col-md-4 profile text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="/story.jpg" class="rounded-circle mb-5" width="200" height="200">
                            <h3>Yashaswi Singh</h3>
                            <h5>Founder/CEO</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ducimus.</p>
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 profile text-center mt-5">
                    <div class="card">
                        <div class="card-body">
                            <img src="/story.jpg" class="rounded-circle mb-5" width="200" height="200">
                            <h3>Sushant Dubey</h3>
                            <h5>Founder/CEO</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ducimus.</p>
                            <div class="d-flex flex-row justify-content-center ">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 profile text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="/story.jpg" class="rounded-circle mb-5" width="200" height="200">
                            <h3>Aman Pandey</h3>
                            <h5>Founder/CEO</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ducimus.</p>
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<%- include("partials/footer") %>
</html>